extend layout

block content
  input#search(autocomplete='off', placeholder='SEARCH')
  section#users
  section#messages
    .subheader
      h1
    form#new(method='POST')
      input(type='checkbox', name='public')
      span make public? (defaults to private)
      textarea(name='message', maxlength='350')
      input(type='hidden', name='receiver', id='receiver')
      input(type='hidden', name='senderAvatar', id='sender-avatar')
      input(type='hidden', name='receiverAvatar', id='receiver-avatar')
      button(type='submit') send
    ol.feed
