extend layout

block content
  section#users
    input#search(autocomplete='off', placeholder='SEARCH')
  section#messages
    h1
    #recent
    form#new(method='POST')
      input(type='checkbox', name='public')
      span make public? (defaults to private)
      textarea(name='message', maxlength='350')
      input(type='hidden', name='receiver', id='receiver')
      button(type='submit') send

block footer
  p
    | All code is hosted on&#xa0;
    a(href='http://github.com/ednapiranha/rwrd-client.git') Github