extend layout

block content
  input#search(autocomplete='off', placeholder='SEARCH')
  section#users
    p.loading Loading users ...
  section#messages
    div.info
      h2 Select the person you want to message on the left.
      h3 By default, messages are sent encrypted and set as private.
      h3 If you want everyone to see, check the public option before sending. These will not be encrypted.
    .subheader
      h1
    form#new(method='POST')
      input(type='checkbox', name='public')
      span make public? (defaults to private)
      textarea(name='message', maxlength='350')
      input(type='hidden', name='receiver', id='receiver')
      input(type='hidden', name='senderAvatar', id='sender-avatar')
      input(type='hidden', name='receiverAvatar', id='receiver-avatar')
      button(type='submit') send
    ol.feed
