extend layout

block content
  input#search(autocomplete='off', placeholder='search')
  section#users
    .loading Loading users ...
  .separator
  section#messages
    .subheader
      h1 Welcome
      h2 Public feed
      #error
        span
        p
    div.info
      h2 Select the person you want to message on the left.
      h3 By default, messages are sent encrypted and set as private.
      h3 If you want everyone to see, check the public option before sending. These will not be encrypted.
    form#new(method='POST')
      input(type='checkbox', name='public' id='public')
      label(for='public') make public? (defaults to private)
      textarea(name='message', maxlength='350')
      input(type='hidden', id='receiver')
      input(type='hidden', id='sender-avatar')
      input(type='hidden', id='receiver-avatar')
      input(type='hidden', id='receiver-pubkey')
      button(type='submit') send
      .blocker
        p Encrypting, please hold ...
    ol#feed
  section#public
    ol#public-feed
