body, html {
  height: 100%;
  position: relative;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

header {
  display: block;
  font-size: 2.2rem;
}

header p {
  display: inline-block;
  color: #222;
  float: left;
  clear: both;
  padding: 5px 5px 5px 15px;
  width: 192px;
}

footer, header p {
  background-color: #111;
}

a, section#users p {
  background-color: #38f1b6;
  color: #111;
  text-decoration: none;
}

a:hover, section#users p:hover {
  background-color: #fff;
  color: #888
}

section, footer, header {
  clear: both;
  float: left;
  width: 100%;
}

#search {
  border: 1px solid #111;
  display: block;
  font-size: 1.2rem;
  clear: both;
  float: left;
  width: 208px;
}

section#users, section#messages, #search {
  clear: none;
}

section#users {
  background-color: #eee;
  margin-bottom: 50px;
  width: 212px;
}

section#users p {
  height: 100px;
  margin-bottom: 2px;
  padding: 5px;
  position: relative;
  overflow: hidden;
}

section#users p span {
  background-color: rgba(1, 1, 1, 0.6);
  color: #eee;
  font-size: 1.3rem;
  bottom: 1px;
  left: 5px;
  position: absolute;
  text-transform: uppercase;
  z-index: 2;
}

section#messages {
  background-color: #f00;
  bottom: 42px;
  position: fixed;
  min-height: 300px;
  top: 0;
  overflow: auto;
  padding: 10px;
  width: 680px;
  left: 213px;
}

section#messages h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

#new {
  bottom: 0;
  padding: 2px;
  position: absolute;
  left: 0;
  right: 10px;
}

#new textarea {
  border: 1px solid #111;
  font-family: Helvetica, Arial, sans-serif;
  resize: none;
  height: 97px;
  padding: 5px;
  width: 80%;
}

footer {
  bottom: 0;
  position: fixed;
  color: #eee;
  width: 100%;
  z-index: 3;
}

footer section {
  font-size: 1.2rem;
  padding: 5px 15px;
}