body, html, body > * {
  height: 100%;
  position: relative;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 200;

}

.wrapper {
  position: relative;
  width: 892px;
  height: 100%;
}

header {
  display: block;
  font-size: 2.2rem;
  position: fixed;
  height: 43px;
}

header p {
  display: inline-block;
  float: left;
  clear: both;
  padding: 5px 15px 4px 5px;
  width: 192px;
  letter-spacing: 1px;
}

footer, header p {
  background-color: rgba(255, 255, 255, 0.5);
  color: #111;
}

a, section#users p:hover, section#users p.selected, #actions button.on, #actions button:hover {
  background-color: #38f1b6;
  color: #111;
  text-decoration: none;
}

a:hover {
  background-color: #fff;
  color: #888
}

section, footer, header {
  clear: both;
  float: left;
  width: 100%;
}

.blocker {
  position: absolute;
  display: none;
  left: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.blocker p {
  color: #111;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  line-height: 6.5rem;
}

.subheader {
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 5px solid #111;
  border-bottom: 1px solid #111;
  height: 43px;
  position: fixed;
  top: 0;
  left: 212px;
  right: 0;
  z-index: 3;
}

#search {
  background-color: transparent;
  border: 1px solid #111;
  border-right: 0;
  display: block;
  font-size: 1.2rem;
  clear: both;
  float: left;
  width: 201px;
  position: fixed;
  top: 43px;
  padding: 0 5px;
  left: 0;
}

section#users, section#messages, #search {
  clear: none;
}

.info {
  padding: 70px 20px 20px 20px;
}

.loading {
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

.info h2 {
  font-size: 2.6rem;
  font-weight: 500;
}

.info h3 {
  margin-top: 40px;
  font-size: 1.9rem;
}

.separator {
  position: fixed;
  left: 212px;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #111;
}

section#users {
  background-color: #fff;
  margin-bottom: 10px;
  width: 212px;
  position: fixed;
  bottom: 0;
  overflow: auto;
  top: 70px;
}

section#users p {
  height: 100px;
  margin-bottom: 2px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

section#users p span {
  background-color: rgba(255, 255, 255, 0.7);
  color: #111;
  font-size: 1.7rem;
  line-height: 1.7rem;
  display: inline-block;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 2px 5px;
  z-index: 2;
  width: 190px;
}

section#messages {
  position: relative;
  width: 700px;
  margin-left: 212px;
  height: 100%;
}

section#messages h1 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  margin-left: 10px;
  color: #111;
}

#new {
  display: none;
  padding: 10px 15px 5px 15px;
  width: 100%;
  position: relative;
  margin-top: 45px;
}

#new textarea {
  border: 1px solid #111;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  resize: none;
  height: 82px;
  padding: 5px;
  width: 80%;
}

#new textarea, #search {
  color: #329bec;
}

#new textarea:focus, #search:focus {
  background-color: #fdff2c;
  border: 1px solid #fff;
  color: #111;
}

#feed {
  padding: 15px 5px 10px;
}

#feed li {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: relative;
  width: 100%;
  padding: 8px 5px;
  float: left;
}

#feed li.private .lock {
  background-color: #fff;
  color: #777;
  opacity: 0.4;
  width: 24px;
  height: 24px;
  z-index: 2;
  position: absolute;
  right: 2px;
  top: 2px;
}

#feed li .para {
  font-size: 1.2rem;
  line-height: 1.4rem;
  min-height: 60px;
  margin-left: 160px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 600px;
  padding-bottom: 20px;
  padding-right: 10px;
}

#feed li.empty {
  padding: 10px;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

#feed li .avatars {
  float: left;
  height: 40px;
  width: 100px;
  position: relative;
}

#feed li .avatars div {
  height: 70px;
  width: 150px;
  overflow: hidden;
  position: relative;
}

#feed .image-wrapper {
  margin: 10px 0;
}

#feed time {
  background-color: rgba(255, 255, 255, 0.8);
  color: #888;
  bottom: 0;
  font-size: 0.9rem;
  padding: 5px 2px;
  position: absolute;
  right: 0;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

button[type="submit"] {
  border: 0;
  width: 100px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  display: inline-block;
  float: right;
  margin-top: 1px;
  font-weight: 200;
  background-color: #111;
  color: #eee;
}
