body, html, body > * {
  height: 100%;
  position: relative;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.wrapper {
  position: relative;
  width: 892px;
  height: 100%;
}

header {
  display: block;
  font-size: 2.2rem;
  position: fixed;
  height: 43px;
}

header p {
  display: inline-block;
  float: left;
  clear: both;
  padding: 5px 15px 4px 5px;
  width: 192px;
}

footer, header p {
  background-color: #111;
  color: #eee;
}

a, section#users p:hover, section#users p.selected, #actions button.on, #actions button:hover {
  background-color: #38f1b6;
  color: #111;
  text-decoration: none;
}

a:hover {
  background-color: #fff;
  color: #888
}

section, footer, header {
  clear: both;
  float: left;
  width: 100%;
}

.subheader {
  background-color: rgba(1, 1, 1, 0.8);
  display: none;
  height: 44px;
  position: fixed;
  top: 0;
  left: 218px;
  right: 0;
  z-index: 3;
}

#search {
  border: 1px solid #111;
  border-right: 0;
  display: block;
  font-size: 1.2rem;
  clear: both;
  float: left;
  width: 209px;
}

section#users, section#messages, #search {
  clear: none;
}

#search {
  position: fixed;
  top: 45px;
  left: 0;
}

.info {
  padding: 20px;
}

.info h2 {
  font-size: 2.6rem;
  font-weight: 500;
}

.info h3 {
  margin-top: 40px;
  font-size: 1.9rem;
}

section#users {
  background-color: #fff;
  margin-bottom: 10px;
  width: 212px;
  position: fixed;
  bottom: 0;
  overflow: auto;
  top: 74px;
}

section#users p {
  height: 100px;
  margin-bottom: 2px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

section#users p span {
  background-color: rgba(255, 255, 255, 0.8);
  color: #111;
  font-size: 1.3rem;
  line-height: 1.1rem;
  display:  inline-block;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 2px;
  z-index: 2;
  width: 196px;
}

section#messages {
  border-left: 5px solid #111;
  position: relative;
  width: 680px;
  margin-left: 212px;
  height: 200%;
}

section#messages h1 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  margin-left: 10px;
  color: #eee;
}

#new {
  display: none;
  padding: 53px 10px 5px 10px;
  width: 90%;
}

#new textarea {
  border: 1px solid #111;
  font-family: Helvetica, Arial, sans-serif;
  resize: none;
  height: 85px;
  padding: 5px;
  width: 80%;
}

.feed {
  padding: 15px 10px 10px;
}

.feed li {
  background-color: #fff;
  border-bottom: 2px solid #eee;
  margin: 5px 0;
  box-shadow: none;
  position: relative;
  width: 100%;
  padding: 8px 0;
}

.feed li .para {
  font-size: 1.2rem;
  line-height: 1.4rem;
  min-height: 60px;
  margin-left: 160px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.feed li .avatars {
  float: left;
  height: 40px;
  width: 100px;
  position: relative;
}

.feed li .avatars div {
  height: 70px;
  width: 150px;
  overflow: hidden;
  position: relative;
}

.feed li img {
  margin-top: -20px;
}

.feed time {
  background-color: rgba(255, 255, 255, 0.8);
  color: #888;
  bottom: 0;
  font-size: 1rem;
  padding: 2px;
  position: absolute;
  right: 0;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

button[type="submit"] {
  border: 0;
  width: 100px;
  font-size: 1.3rem;
  display: inline-block;
  float: right;
  background-color: #111;
  color: #eee;
}
